@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
}

.wrapper {
    background-color: black;
}

.wrapper .title {
    text-align: center;
    color: white;
    padding: 60px;
}

.wrapper .title h2 {
    font-size: 60px;
    font-weight: 200;
}

.wrapper .title h3 {
    padding: 20px;
    font-size: 35px;
    font-weight: 400;

}

.wrapper .playButton {
    color: white;
    text-align: center;
    font-size: 55px;
    margin-bottom: 100px;

}

.wrapper .image img {
    width: 80%;
    height: 600px;
    padding: 60px;
}

.wrapper .content {
    margin-left: 400px;
    margin-right: 400px;
}

.wrapper .content h1 {
    padding: 30px;
    color: white;
    font-size: 60px;
    font-weight: 500;

}

.wrapper .content p {
    color: white;
    padding: 30px;
    font-size: 28px;
    font-family: 'Lora', serif;

}
.wrapper hr{
    width:800px;
    margin: auto;
    margin-top: 30px;
}
.wrapper .brand {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    
}